:root {
    --color-dark: #222;
    --color-yellow: #F7DF1E;
}

body {
    background-color: var(--color-dark);
    color: var(--color-yellow);
}

.rotate-45 {
    transform: rotate(45deg);
}

.rotate-135 {
    transform: rotate(135deg);
}